[swift-hash]


swift_hash_path_suffix = changeme
swift_hash_path_prefix = changeme

[storage-policy:0]
name = Policy-0
default = yes
#policy_type = replication
aliases = yellow, orange

#[storage-policy:1]
#name = silver
#policy_type = replication

#[storage-policy:2]
#name = deepfreeze10-4
#aliases = df10-4
#policy_type = erasure_coding
#ec_type = liberasurecode_rs_vand
#ec_num_data_fragments = 10
#ec_num_parity_fragments = 4
#ec_object_segment_size = 1048576

#ec_duplication_factor = 1


[swift-constraints]
#max_file_size = 5368709122

#max_meta_name_length = 128

#max_meta_value_length = 256

#max_meta_count = 90

#max_meta_overall_size = 4096

#max_header_size = 8192

#extra_header_count = 0

#max_object_name_length = 1024

#container_listing_limit = 10000

#account_listing_limit = 10000

#max_account_name_length = 256

#max_container_name_length = 256

# valid_api_versions = v1,v1.0
